<div *ngIf="user" class="comment">
  <img class="noProfileImage" *ngIf="!user.ProfileImage" src="../../assets/icon/user.svg"/>
  <img class="profileImage" *ngIf="user.ProfileImage" [src]="(user?.ProfileImage)"/>
  <div class="comment-wrapper">
    <span>{{ user.DisplayName || user.LoginName }}</span>
    <ion-textarea (ionFocus)="focus()" (ionBlur)="blur()" [id]="'text-' + id" auto-grow maxlength="280" placeholder="Adicionar um comentário público" [(ngModel)]="comment"></ion-textarea>
    <div class="action-wrapper" [id]="'comment-actions-' + id">
      <span (click)="addNewComment('text-' + id)">Enviar</span>
      <span>Cancelar</span>
    </div>
  </div>
</div>
